<!DOCTYPE HTML>
<html>
  <title>Sacrament Program Creator</title>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' type = 'text/css' href='/admin/css/admin.css'>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src='/admin/js/admin.js' type='text/javascript'></script>



  </head>

  <body>
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">264th Ward Admin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/admin" name='program'>Update Program<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/fhe" name='fhe'>Update FHE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/spotlight" aria-disabled="false" name='spotlight'>Update Spotlight</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/contact" aria-disabled="false" name='contact'>Update Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id='prog-body'>
      <header>
        <h1 class='adm-title'>Sacrament Program Creator</h1>
      </header>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" id='progType' value="Normal Sunday" onclick='setNormalProg()'>Normal Sunday</button>
        <button type="button" class="btn btn-secondary" id='progType' value="Fast Sunday" onclick='setFastProg()'>Fast Sunday</button>
      </div>
      <div class='form-content'>
        <form id = 'extra-form'>
        </form>
          <button type='button' class='program-button' id='submitProgram'>Submit Changes</button>
        <p class = 'error' id='errorMessage'>You are missing parameters, please fill them out and resubmit.</p>
      </div>
    </div>



  </body>
</html>
