<html lang="en" dir="ltr">

  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' type = 'text/css' href='/stylesheets/main.css'>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5d96692653.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src = '/admin/js/home.js' type='text/javascript'></script>
  </head>

  <body id='contact_body'>
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">264th Ward</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/" name='program'>Program</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fhe" name='fhe'>FHE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/spotlight" aria-disabled="false" name='spotlight'>Spotlight</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/contact" aria-disabled="false" name='contact'><span class="sr-only">(current)</span>Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>


  <h1 class='page_title' id='meeting-title'>Contact Information</h1>
  <div class='container' id='branch_container'>
    <h2 id='calling_title'>Bishopric</h2>
    <div class='calling_container'>
      <div class='profile'>
        <div id='bishop_image'>
          <div class='profile_image bishop'></div>
        </div>
        <div class='profile_information' >
          <div class='title_name'>
            <h1 id='bishop_calling'>Bishop</h1>
            <h1 id='bishop_name'>Mike Neuffer</h1>
          </div>
          <div class='information_icons'>
            <i class="fas fa-phone-square fa-5x icon-blue" id='bis_telephone'><a href="tel:+1-541-760-3626"></a></i>
            <i class="fas fa-comment fa-5x icon-blue" id='bis_sms'><a href="sms:+1-541-760-3626"></a></i>
          </div>
          <div class='extra_contact'>
            <i class="fas fa-calendar-alt fa-5x icon-blue" id='appointment'><a href="https://www.setmore.com/?utm_source=footer%20emailV1&utm_medium=HT"></a></i>
            <p> Schedule an appointment with Bishop on SetMore </p>
          </div>
        </div>
      </div>
    </div>

    <div class='calling_container'>
      <div class='profile'>
        <div id='bishop_image'>
          <div class='profile_image first_counselor'></div>
        </div>
        <div class='profile_information' >
          <div class='title_name'>
            <h1 id='bishop_calling' style='width:100%;'>1st Counselor</h1>
            <h1 id='bishop_name'>Mark Geslison</h1>
          </div>
          <div class='information_icons'>
            <i class="fas fa-phone-square fa-5x icon-blue" id='bis_telephone'><a href="tel:+1-541-760-3626"></a></i>
            <i class="fas fa-comment fa-5x icon-blue" id='bis_sms'><a href="sms:+1-541-760-3626"></a></i>
          </div>
          <div class='extra_contact'>
            He plays the guitar nice
          </div>
        </div>
      </div>
    </div>

    <div class='calling_container'>
      <div class='profile'>
        <div id='bishop_image'>
          <div class='profile_image second_counselor'></div>
        </div>
        <div class='profile_information' >
          <div class='title_name'>
            <h1 id='bishop_calling'>2nd Counselor</h1>
            <h1 id='bishop_name'>Blaine Fowler</h1>
          </div>
          <div class='information_icons'>
            <i class="fas fa-phone-square fa-5x icon-blue" id='bis_telephone'><a href="tel:+1-541-760-3626"></a></i>
            <i class="fas fa-comment fa-5x icon-blue" id='bis_sms'><a href="sms:+1-541-760-3626"></a></i>
          </div>
          <div class='extra_contact'>
            Weird flex, but okay.
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class='container' id='branch_container'>
    <h2 id='calling_title'>Elders Quorum</h2>
    <div class='calling_container'>
      <div class='profile'>
        <div id='bishop_image'>
          <div class='profile_image default'></div>
        </div>
        <div class='profile_information' >
          <div class='title_name'>
            <h1 id='bishop_calling' style='width:100%;'>President</h1>
            <h1 id='bishop_name'>Ben Randle</h1>
          </div>
          <div class='information_icons'>
            <i class="fas fa-phone-square fa-5x icon-blue" id='bis_telephone'><a href="tel:+1-541-760-3626"></a></i>
            <i class="fas fa-comment fa-5x icon-blue" id='bis_sms'><a href="sms:+1-541-760-3626"></a></i>
          </div>
          <div class='extra_contact'>
            <i class="fab fa-instagram fa-5x icon-blue"></i>
            <i class="fab fa-facebook-square fa-5x icon-blue"></i>
          </div>
        </div>
      </div>
    </div>

    <div class='calling_container'>
      <div class='profile'>
        <div id='bishop_image'>
          <div class='profile_image default'></div>
        </div>
        <div class='profile_information' >
          <div class='title_name'>
            <h1 id='bishop_calling' style='width:100%;'>1st Counselor</h1>
            <h1 id='bishop_name'>TBD</h1>
          </div>
          <div class='information_icons'>
            <i class="fas fa-phone-square fa-5x icon-blue" id='bis_telephone'><a href="tel:+1-541-760-3626"></a></i>
            <i class="fas fa-comment fa-5x icon-blue" id='bis_sms'><a href="sms:+1-541-760-3626"></a></i>
          </div>
          <div class='extra_contact'>
            <i class="fab fa-instagram fa-5x icon-blue"></i>
            <i class="fab fa-facebook-square fa-5x icon-blue"></i>
          </div>
        </div>
      </div>
    </div>

    <div class='calling_container'>
      <div class='profile'>
        <div id='bishop_image'>
          <div class='profile_image default'></div>
        </div>
        <div class='profile_information' >
          <div class='title_name'>
            <h1 id='bishop_calling' style='width:100%;'>2nd Counselor</h1>
            <h1 id='bishop_name'>TBD</h1>
          </div>
          <div class='information_icons'>
            <i class="fas fa-phone-square fa-5x icon-blue" id='bis_telephone'><a href="tel:+1-541-760-3626"></a></i>
            <i class="fas fa-comment fa-5x icon-blue" id='bis_sms'><a href="sms:+1-541-760-3626"></a></i>
          </div>
          <div class='extra_contact'>
            <i class="fab fa-instagram fa-5x icon-blue"></i>
            <i class="fab fa-facebook-square fa-5x icon-blue"></i>
          </div>
        </div>
      </div>
    </div>
  </div>



    <div class='container' id='branch_container'>
      <h2 id='calling_title'>Relief Society</h2>
      <div class='calling_container'>
        <div class='profile'>
          <div id='bishop_image'>
            <div class='profile_image default'></div>
          </div>
          <div class='profile_information' >
            <div class='title_name'>
              <h1 id='bishop_calling' style='width:100%;'>President</h1>
              <h1 id='bishop_name'>Andrea Cabrera</h1>
            </div>
            <div class='information_icons'>
              <i class="fas fa-phone-square fa-5x icon-blue" id='bis_telephone'><a href="tel:+1-541-760-3626"></a></i>
              <i class="fas fa-comment fa-5x icon-blue" id='bis_sms'><a href="sms:+1-541-760-3626"></a></i>
            </div>
            <div class='extra_contact'>
              <i class="fab fa-instagram fa-5x icon-blue"></i>
              <i class="fab fa-facebook-square fa-5x icon-blue"></i>
            </div>
          </div>
        </div>
      </div>

      <div class='calling_container'>
        <div class='profile'>
          <div id='bishop_image'>
            <div class='profile_image default'></div>
          </div>
          <div class='profile_information' >
            <div class='title_name'>
              <h1 id='bishop_calling' style='width:100%;'>1st Counselor</h1>
              <h1 id='bishop_name'>Catherine Lunt</h1>
            </div>
            <div class='information_icons'>
              <i class="fas fa-phone-square fa-5x icon-blue" id='bis_telephone'><a href="tel:+1-541-760-3626"></a></i>
              <i class="fas fa-comment fa-5x icon-blue" id='bis_sms'><a href="sms:+1-541-760-3626"></a></i>
            </div>
            <div class='extra_contact'>
              <i class="fab fa-instagram fa-5x icon-blue"></i>
              <i class="fab fa-facebook-square fa-5x icon-blue"></i>
            </div>
          </div>
        </div>
      </div>

      <div class='calling_container'>
        <div class='profile'>
          <div id='bishop_image'>
            <div class='profile_image default'></div>
          </div>
          <div class='profile_information' >
            <div class='title_name'>
              <h1 id='bishop_calling' style='width:100%;'>2nd Counselor</h1>
              <h1 id='bishop_name'>Madeline Bishop</h1>
            </div>
            <div class='information_icons'>
              <i class="fas fa-phone-square fa-5x icon-blue" id='bis_telephone'><a href="tel:+1-541-760-3626"></a></i>
              <i class="fas fa-comment fa-5x icon-blue" id='bis_sms'><a href="sms:+1-541-760-3626"></a></i>
            </div>
            <div class='extra_contact'>
              <i class="fab fa-instagram fa-5x icon-blue"></i>
              <i class="fab fa-facebook-square fa-5x icon-blue"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</html>
